@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.name</h1>
    <h1> @ViewData["name"]</h1>
    <h1> @ViewBag.name2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @* <p> ID: @Model.Id</p> *@
    <a asp-route="login" asp-route-a="a" class="btn btn-primary">Login</a>
</div>